
header {
    height: 90px;
    background-color: rgb(161, 26, 26);
    width: fullscreen;
}




i {
    color: white;
    font-size: 50px;
}



.map {
    height: 180px;
    background-color: rgb(114, 161, 26);
    width: fullscreen; 
}

footer {
    height: 120px;
    background-color: rgb(161, 26, 26);
    width: fullscreen;
}

.footer-div {
    text-align: center;
}


h2 {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    
}

h1 {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: underline;
    text-transform: uppercase;
}

.slogan {
    text-align: center;
    background-color: rgba(23, 23, 24, 0.993);
}

.reasons {
    background-color: rgba(23, 23, 24, 0.993);
    margin: 0 0;
}

img {
    max-width: 100%;
    height: auto;
}

.logorow {
    background-color: rgba(23, 23, 24, 0.993);
    margin-top: 30px;
    
}

.iconcol {
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 10px 10px;
    margin-top: 10px;
    border-width: 3px;
    border-color: red;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
}

.logocontainer {
    padding-top: 30px;
    background-color: rgba(23, 23, 24, 0.993);
}











