/*...................................Colours*/
header {
    height: 90px;
    background-color: rgb(161, 26, 26);
    width: fullscreen;

}

.logo {
    background-color: rgba(23, 23, 24, 0.993);
    width: fullscreen;
    height: 150px;
    
    
}

.icon {
    
    border-width: 2px;
    border-radius: 50%;
    padding: 2px;
    border-color: red;
    background-color: rgba(23, 23, 24, 0.993);
}

.icon i {
    color: white;
}

.reason1 {
    
    width: fullscreen;
    height: 150px;
    background-image: url('strength.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(23, 23, 24, 0.993);

}

.reason2 {
    width: fullscreen;
    height: 150px;
    background-image: url('getflexible.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(23, 23, 24, 0.993);
}

.reason3 {
    width: fullscreen;
    height: 150px;
    background-image: url('burnfat.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(23, 23, 24, 0.993);
}

.reason4 {
    width: fullscreen;
    height: 150px;
    background-image: url('feelgreat.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(23, 23, 24, 0.993);
}

.map {
    height: 180px;
    background-color: rgb(114, 161, 26);
    width: fullscreen; 
}

footer {
    height: 120px;
    background-color: rgb(161, 26, 26);
    width: fullscreen;
}

.footer-div {
    text-align: center;
}

.strengthpic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h2 {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    
}

h1 {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: underline;







